@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/ralewaybold.ttf") format("ttf");
  src: url("../fonts/raleway/ralewaybold.woff") format("woff");
  src: url("../fonts/raleway/ralewaybold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/ralewaylight.ttf") format("ttf");
  src: url("../fonts/raleway/ralewaylight.woff") format("woff");
  src: url("../fonts/raleway/ralewaylight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/pacifico/Pacificoregular.ttf") format("ttf");
  src: url("../fonts/pacifico/Pacificoregular.woff") format("woff");
  src: url("../fonts/pacifico/Pacificoregular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/ralewaybold.ttf") format("ttf");
  src: url("../fonts/raleway/ralewaybold.woff") format("woff");
  src: url("../fonts/raleway/ralewaybold.woff2") format("woff2");
  font-weight: 700;
  /* font-style: bold; */
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/Icons/icomoon.eot?18k5kp");
  src: url("../fonts/Icons/icomoon.eot?18k5kp#iefix")
      format("embedded-opentype"),
    url("../fonts/Icons/icomoon.ttf?18k5kp") format("truetype"),
    url("../fonts/Icons/icomoon.woff?18k5kp") format("woff"),
    url("../fonts/Icons/icomoon.svg?18k5kp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* font-display: block; */
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delivery:before {
  content: "\e900";
}

.icon-organized:before {
  content: "\e901";
}

.icon-quality:before {
  content: "\e902";
}

.icon-shopping:before {
  content: "\e903";
}
