@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/raleway/ralewaybold.ttf") format("ttf");
  src: url("../fonts/raleway/ralewaybold.woff") format("woff");
  src: url("../fonts/raleway/ralewaybold.woff2") format("woff2");
}

@font-face {
    font-family: "Raleway Light";
    src: url("../fonts/raleway/ralewaylight.ttf") format("ttf");
    src: url("../fonts/raleway/ralewaylight.woff") format("woff");
    src: url("../fonts/raleway/ralewaylight.woff2") format("woff2");
  }
