@import "normalize.css";
@import "fonts.css";

.block-gallery {
  background-color: #ffe92f;
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 7vh;
}
.block-gallery__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 90px;
  font-family: "Raleway Bold";
}
.block-gallery__text {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway Light";
}

.block-gallery-img {
  margin-top: 30px;
}
.block-gallery-img__first {
  display: flex;
  justify-content: space-between;
}
.img__first__one {
  width: 65%;
}
.img__first__two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
}
.img__first__two img:first-child {
  padding-bottom: 30px;
}
.block-gallery-img__second {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.block-gallery-img__second img {
  width: 48%;
}
.block-gallery-img__button {
  text-align: center;
}
.block-gallery-img__button [type="submit"] {
  margin-top: 50px;
  width: 15%;
  font-size: 20px;
  line-height: 2;
  background-color: #5585a2;
  color: #fff;
  border-radius: 5px;
}
.block-gallery-img__button [type="submit"]:hover {
  cursor: pointer;
  box-shadow: 1px 1px 7px 4px #558555;
}
@media screen and (max-width: 992px) {
  .block-gallery__text {
    width: 60%;
  }
  .block-gallery-img__first {
    flex-direction: column;
  }
  .img__first__one {
    width: 100%;
  }
  .img__first__two {
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
  }
  #img_first_two_one {
    width: 48%;
    padding: 0;
  }
  #img_first_two_two {
    width: 48%;
  }
  .block-gallery-img__button [type="submit"] {
    width: 25%;
  }
}
@media screen and (max-width: 576px) {
  .block-gallery__title {
    font-size: 60px;
  }
  .block-gallery__text {
    width: 80%;
  }
  .img__first__two {
    flex-direction: column;
    width: 100%;
  }
  #img_first_two_one {
    width: 100%;
  }
  #img_first_two_two {
    width: 100%;
    padding-top: 30px;
  }
  .block-gallery-img__second {
    flex-direction: column;
  }
  .block-gallery-img__second img {
    width: 100%;
  }
  .block-gallery-img__second img:nth-child(2) {
    padding-top: 30px;
  }
  .block-gallery-img__button [type="submit"] {
    width: 50%;
  }
}
